
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    .nav-list{
        display: flex;
        flex-direction: row nowrap;
        justify-content: space-between;
        margin: 0 20px;
        padding: 0;
        list-style-type: none;
     

        .nav-link{
            margin: 0;
            padding: 10px 20px;

            &:hover{
                background-color: #eee;
                color: #2AACFF;
            }
        }



    }
}